header {
    color: #fff;
    height: 100px;
    line-height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
header a.logo{
    float: left;
    margin-right:10px;
}

div.header{
    float: right;
}

body {
    font-size: 16px;
    line-height: 22px;
    height: 1200px;
    font-family: 'Poppins', sans-serif;
}

header nav ul li {
    padding-left: 20px;
}

header nav ul li a {
    color: #fff;
}

header nav ul li a:hover {
    color: #ff8;
    text-decoration: none;
}


/* Slider Section */

.slider, .slider ul, .slider ul li {
    width: 100%;
    height: 600px;
    text-align:center;
}

.slider ul li a {
    padding:10px 30px;
    margin: 20px;
    color:#fff;
}

.slider ul li a:last-child{
    margin: 0px;
}

.slider h1 {
    margin-top: 170px;
    color: #fff;
}

.slider p {
    padding:20px;
    color: #fff;
}

.img1 {
    background: url(img/slider/1.jpg);
    background-size: 100% 100%;
}

.services {
    text-align: center;
}

.services-header, .portfolio-header {
    margin-bottom: 60px;
}
.services .services-content i {
    font-size:20px;
    border:1px solid;
    border-radius:100px;
    padding:20px;
}

.portfolio {
    text-align:center;
    /* background-color: #ff8; */
    background: url('img/slider/1.jpg')
}

.portfolio .portfolio-header, .portfolio .portfolio-header h2 {
    color: #fff;
}

.portfolio .inner-content {
    position: relative;
    width: 265px;
    height:185px;
}

.portfolio .inner-content img {
    width:100%;
    height: 100%;
}

.portfolio .inner-content .overlay-content {
    position: absolute;
    top:100%;
    left:0px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.portfolio .inner-content .overlay-content h3 {
padding-top:25%;
color: #fff;
}

.portfolio .inner-content .overlay-content p {
    color: #fff;
}

.portfolio .inner-content:hover .overlay-content {
    top:0px;
}

.portfolio .portfolio-nav
{
	text-align: center;
	margin-top: 30px;
}

.portfolio .portfolio-nav li
{
	cursor: pointer;
	margin-right: 10px;
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	background-color: #333;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.portfolio .portfolio-nav li:last-child
{
	margin-right: 0px;
}

.portfolio .portfolio-nav li:hover
{
	background-color: #e74c3c;
}


/**** team section ****/
.team {
    margin-top:25px;
}

.team .team-header {
    text-align: center;
}

.team .inner-content
{
	position: relative;
	width: 265px;
	height: 225px;

}

.team .inner-content img
{
	width: 100%;
	height: 100%
}

.team .inner-content .overlay-content
{
	position: absolute;
	top: 100%;
	left: 0px;
	text-align: center;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	
}

.team-carousel li
{
	margin-right: 10px;
	margin-left: 10px;
}


.team .inner-content:hover .overlay-content
{
	top: 0px;
}


.team .team-nav
{
	text-align: center;
	margin-top: 30px;
}

.team .team-nav li
{
	cursor: pointer;
	margin-right: 10px;
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	background-color: #333;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.team .team-nav li:last-child
{
	margin-right: 0px;
}

.team .team-nav li:hover
{
	background-color: #e74c3c;
}

.team-carousel .inner-content p.name{
	padding-top: 15%;
}

.team-carousel .inner-content p.description{
	padding:0 15px;
}

ul.member-social-links li
{
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	}

ul.member-social-links li a
{
	color: #fff;
}

ul.member-social-links li i
{
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

ul.member-social-links li i.fa-facebook
{
	background-color: #3b5998;
}

ul.member-social-links li i.fa-twitter
{
	background-color: #00aced;
}

ul.member-social-links li i.fa-linkedin
{
	background-color: #007bb6;
}